/* CSS Reset */
* {

    padding: 0;
    margin: 0;
    border: 0;

}

/* Layout */
.Flex {

    display: flex;
    justify-content: flex-start;
    align-items: center;

}



header {

    background-color: #f4f4f4;;
    padding: 40px 32px;

}

#logo img {

    height: 50px;
    width: 100px;

}

nav ul li {

    list-style: none;
    float: left;
    margin-left: 40px;

}