/* CSS Reset */
* {

    padding: 0;
    margin: 0;
    border: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {

    font-family: 'open sans', helvetica, sans-serif;

}



/* Layout */
.Flex {

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

/* PC */
@media (min-width: 1200px) {

    .container {

        max-width: 1140px;

    }

    header {

        background-color: #f4f4f4;;
        padding: 45px 62px;
        font-weight: 700;
        position: fixed;
        width: 100%;    
        
    }  

    
    header a {

        font-size: 0.90em;

    }

    #logo img {

        height: 45px;
        width: 87px;

    }

    
    nav ul li {
    
        position: static;
        list-style: none;
        float: left;
        margin-left: 40px;
    
    }

    nav ul li a {

        text-decoration: none;
        color: #343434  ;

    }

    main {

        height: 100vh;
        background: url(img/Banner.png);
        background-position: center +69px;
        background-size: 100% auto;
        padding: 56px 0px 136px;
        background-repeat: no-repeat;
        

    }

    .conta ul li a{

        color: #f00;

    }

    .entrar ul li a {

        color: #fff;
        background-color: #ea1d2c;
        padding: 14px 30px;
        border-radius: 10%;

    }

    .entrar ul li a:hover {

        background-color: #FF6E70;

    }

    .conta {

        margin-left: 880px;

    }

    .entrar {

        position: absolute;
        margin-left: 1000px;
        top: 60px;

    }

    
}