/* CSS Reset */
* {

    padding: 0;
    margin: 0;
    border: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

body {

    font-family: 'open sans', helvetica, sans-serif;

}



/* Layout */
.Flex {

    display: flex;
    justify-content: flex-start;
    align-items: center;

}


/* PC */
@media (min-width: 1200px) {

    .container {

        max-width: 1140px;

    }

    header {

        background-color: #f4f4f4;;
        padding: 45px 62px;
        font-weight: 700;  
        position: fixed;
        width: 100%;

        
        
    }  

    
    header a {

        font-size: 0.90em;

    }

    #logo img {

        height: 45px;
        width: 87px;

    }

    
    nav ul li {
    
        position: static;
        list-style: none;
        float: left;
        margin-left: 40px;
    
    }

    nav ul li a {

        text-decoration: none;
        color: #343434;

    }

    main {

        height: 70vh;
        background: url(img/Banner.png);
        background-position: center 69px;
        background-size: 100% auto;
        padding: 150px 0px 136px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        

    }

    .conta ul li a{

        color: #f00;

    }

    .entrar ul li a {

        color: #fff;
        background-color: #ea1d2c;
        padding: 14px 30px;
        border-radius: 10%;

    }

    .entrar ul li a:hover {

        background-color: #FF6E70;

    }

    .conta {

        margin-left: 880px;

    }

    .entrar {

        position: fixed;
        margin-left: 1000px;
        top: 60px;

    }

    main h1 {

        color: #3e3e3e;
        font-size: 2.6em;

    }

    #butaomercado {

        background-color: #f00;
        color: #fff;
        padding: 15px 30px;
        font-weight: 700;
        border-radius: 5px;

    }

    #textbox {

        background-color: #f2f2f2;
        padding: 15px 150px 15px 35px;
        font-size: 1.02em;
        border-radius: 10px;


    }

    #lupa {

        height: 20px;
        position: relative;
        right: 354px;
        top: 4px;
        

    }

    #mercado {

        text-decoration: none;
        color: #fff;
        background-color: #f00;
        padding: 15px 40px;
        border-radius: 10px;


    }

    .endereco {

        margin-top: 70px;
        margin-bottom: 50px;

    }

    #botao {

        background-color: #fff;
        border: 1px solid #f2f2f2;
        padding: 7px 10px;
        border-radius: 100px;
        text-decoration: none;
        color: #717171;

    }

    .topicos {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .topicos2 {

        display: flex;
        justify-content: center;
        margin-top: 10px;

    }


}